{% extends 'base.html' %}


{% block login %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-3 my-5">
            <form class="form-login" action="/auth/login/", method="post" style="color: #757575;">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Имя пользователя</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <button class="btn btn-outline-info" type="submit">Войти</button>
                {% if login_error %}
                    <label class="error">{{ login_error }}</label>
                {% endif %}
                <div class="btn btn-light btn-sm"><a href="/auth/register/">Регистрация</a></div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
